
.Loginpage {
  text-align: center;
  background-image: url("wallpaper4.png");
  height: 100vh;
  width: 100%;
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.adminpage{
  background-image: url("wallpaper5.png");
  background-position: center;
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.login{
  /* background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 30%;
  justify-content: center;
  align-items: center; */
 
  width: 30rem;
  height: 30rem;
  border-radius: 10px;

  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 12px 0 rgb(152 154 156 / 24%);
  background-color: #fff;
  padding: 2rem;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  /* z-index: 1;

  margin-bottom: 80vh;
  margin-left: 130vh;
  margin-right: 10vh; */
  margin-left: 150px;
  -ms-flex-direction: column;
  flex-direction: column;
}
.login1{
  text-align: center;
  display: table-column;
}
#heading{
  margin: 4px;
  padding: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
  font-size: 3.75rem;
  color: #4e6f84;
}
.pageheading{
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left: 75px;
  margin-top: 10px;
  padding: 0 20px;
}
.login_label {
  justify-content: left;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  margin: 7px;
}
.login_input {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  border-radius: 5px;
  margin: 8px;
  padding: 7px;
  display: block;
  border: none;
  box-shadow: inset 1.5px 1.5px 1.5px 1.5px hsl(203, 12%, 78%);
  width: 85%;
  height: 10%;
}
.login_heading{
  padding-top: 0px;
  margin-bottom: 2%;
  color: #4f748b;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
}
.login_button1 {
  margin: 8px;
  font-family: "Montserrat", sans-serif;
  border: none;
  display: block;
  border-radius: 15px;
  font-size:1.1rem;
  font-weight: 400;
  width: 90%;
  height: 12%;
  background-color: #68afad;
}
.login_button2 {
  margin: 8px;
  font-family: "Montserrat", sans-serif;
  border: none;
  display: block;
  border-radius: 15px;
  font-size:1.1rem;
  font-weight: 400;
  width: 90%;
  height: 12%;
  background-color: #f17e63;
}
.login_button1:hover {
  background-color: #30b0ab;
}
.login_button2:hover {
  background-color: #e86649;
}
/* ADMIN PAGE */
.admintitle{
  margin-top: 10px;
  text-align: center;
  /* font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color:#075887; */
  color: #044872;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
.ownertitle{
  margin-top: 40px;
  margin-bottom: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #044872;
}
.adminfuncbtn{
  width: 500px;
  height: 60px;
  margin-left: 40px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #1caca8;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  border: none;
  color: black;
}
label{
  justify-content: left;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  margin: 7px;
}
input {
  /* width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px; */
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  border-radius: 5px;
  margin: 8px;
  padding: 7px;
  display: block;
  border: none;
  box-shadow: inset 1.5px 1.5px 1.5px 1.5px hsl(203, 12%, 78%);
  width: 55%;
  height: 25%;
}
button {
  width: 320px;
  height: 50px;
  margin: 8px;
  font-family: "Montserrat", sans-serif;
  border: none;
  display: block;
  border-radius: 15px;
  font-size:1.1rem;
  font-weight: 400;
  background-color: #f47356;
  display: inline-block;
}
button:hover {
  background-color: #eb5c3c;
}
#b1,#b2 {
  display:inline-block;
  }
.addFlatform{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

}
.addOwnerform{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  
}
.showallform{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.flatandowner{
  display: flex;
  border-radius: 15px;
  padding: 9px;
  margin: 7px;
  box-shadow: 5px 5px 5px gray;
  background-color: #e3f1f2;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.5rem;
}
.addpaymentform{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.paymentstatusform{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.totalmonthlypaymentform{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.ff{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.col-md-7{
  align-items: center;
  justify-content: center;
  display: flex;
}
@media (min-width: 1200px){
h3 {
    font-size: 1.2rem;
}}